---
import type { HTMLAttributes } from 'astro/types'
import { getCollection, type CollectionEntry } from 'astro:content'

type Props = HTMLAttributes<'div'>

const { class: className, ...attrs } = Astro.props

const food: CollectionEntry<'cooking'>[] = await getCollection('cooking')
---

<section
  {...attrs}
  class:list={[className, '@container']}
>
  <div
    class:list={[
      'rounded-lg border border-orange-400 bg-amber-100 p-2',
      'grid grid-cols-5 gap-1 @md:grid-cols-10',
      'shadow-solid-sm shadow-solid shadow-orange-500',
    ]}
  >
    {
      food.map((item, i) => (
        <div class='group relative aspect-1 content-center rounded-md border border-orange-400 p-2 shadow-sm'>
          <p class='absolute left-1 top-0 text-orange-900 [text-shadow:white_2px_2px_0]'>
            {i < 9 ? i + 1 : 0}
          </p>
          <img
            src={item.data.image.src}
            alt={item.data.name}
            class='mx-auto aspect-1 h-auto w-12 object-center'
          />
        </div>
      ))
    }
  </div>
</section>
